---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

::selection {
  background-color: #CFD8D7; /* Set your desired background color for highlighted text */
  color: #000000; /* Set your desired text color when highlighted, usually white for contrast */
}